.pytest_cache
/.vscode
.venv
__pycache__
*.egg-info
!/.hub/.vscode
/.hub/*.yaml
!/.hub/libs/skaffold.libsonnet
/.hub/env
!/.hub/configure
/.hub/hub.elaborate
/.hub/hub.state
/.hub/lib
/.hub/dockerconfig.json
/.hub/current
/.hub/templates/*.json
/skaffold.yaml
skaffold.json
k8s/*.yaml
