.pytest_cache
.vscode
.venv
__pycache__
*.egg-info
.DS_STORE
!.hub/.vscode
.hub/*.yaml
.hub/libs/*.libsonnet
!.hub/libs/skaffold.libsonnet
.hub/env
.hub/hub.elaborate
.hub/hub.state
.hub/manifests
!.hub/templates/vscode-settings-template.json
k8s/deployment.yaml
k8s/ingress.yaml
k8s/service.yaml
k8s/kaniko-secret.yaml
.hub/lib
skaffold.yaml
skaffold.json
deployment.json
.dockerconfig.json
skaffold.yaml
.hub/current-context
