body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    overflow: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    transition: background-color 0.2s, color 0.2s;
}

.App-header::after {
    content: '';
    width: 120vmin;
    height: 200vmin;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 0;
    transform: rotateZ(-70deg) translateY(70vmin);
    transition: transform .5s;
    background-image: radial-gradient(#fbf4b71c, transparent 70%);
    pointer-events: none;
}

@media (prefers-color-scheme: dark) and (prefers-color-scheme: no-preference) {
    .asi-theme-default .App-header {
        background-color: #282c34;
        color: white;
    }

    .asi-theme-default .App-header::after {
        transform: rotateZ(85deg) translateY(104vmin);
    }
}

.asi-theme-dark .App-header {
    background-color: #282c34;
    color: white;
}

.asi-theme-dark .App-header::after {
    transform: rotateZ(85deg) translateY(104vmin);
}

@media (prefers-color-scheme: light) {
    .asi-theme-default .App-header {
        background-color: #eaf8ff;
        color: #444;
    }
}

.asi-theme-light .App-header {
    background-color: #eaf8ff;
    color: #444;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.asi-cube-ex {
    transform: translateY(15%) rotateX(-30deg);
    transform-style: preserve-3d;
    padding: 10vmin;
    flex: 1 1 auto;
    font-size: 0;
}

.asi-cube-ex-part {
    transform-style: preserve-3d;
}

.asi-cube-ex-roof {
    animation: cycle 30s infinite;
}

.asi-cube-ex-base {
    margin-top: 6vmin;
    animation: cycle 16s infinite;
}

.asi-cube-ex-parts {
    transform-style: preserve-3d;
    animation: cycle-x 25s infinite;
}

@keyframes cycle-x {
    0% {
        transform: rotateX(-3.33333deg);
    }

    50% {
        transform: rotateX(3.33333deg);
    }

    100% {
        transform: rotateX(-3.33333deg);
    }
}

@keyframes cycle {
    0% {
        transform: rotateY(-10deg);
    }

    50% {
        transform: rotateY(10deg);
    }

    100% {
        transform: rotateY(-10deg);
    }
}

@keyframes tile-flash {
    0% {
        box-shadow: 0 0 2.5vmin 0.4vmin white;
    }

    10% {
        box-shadow: 0 0 3.33333vmin 2.85714vmin white, inset 0 0 5vmin white;
    }

    100% {
        box-shadow: 0 0 2vmin 2vmin white, inset 0 0 2vmin white;
    }
}

.asi-tile {
    width: 9vmin;
    height: 9vmin;
    border: 0.35vmin solid white;
    box-shadow: 0 0 2.5vmin 0.4vmin white;
    box-sizing: border-box;
    display: inline-block;
    margin: 0.5vmin;
    border-radius: 0.66667vmin;
    opacity: .97;
    transition: transform 1.2s, box-shadow 1.7s;
}

.asi-tile:hover {
    transform: scale(0.85);
    transition: transform .3s;
    box-shadow: 0 0 2vmin 2vmin white, inset 0 0 2vmin white;
    animation: tile-flash .25s;
}

.asi-tile-orange {
    background-color: #ffb62d;
    background: linear-gradient(221deg, #ffa804 0%, #ffcf74 55%);
}

.asi-tile-red {
    background-color: #ff2e2b;
    background: linear-gradient(230deg, #d30300 0%, #ff7472 75%);
}

.asi-tile-blue {
    background-color: #2773e6;
    background: linear-gradient(230deg, #0c3168 0%, #4788ea 75%);
}

.asi-tile-green {
    background-color: #a6da2f;
    background: linear-gradient(211deg, #8fbe22 0%, #c2e670 77%);
}

@media (prefers-color-scheme: dark) and (prefers-color-scheme: no-preference) {
    .asi-theme-default .asi-tile {
        border-color: white;
    }
}

.asi-theme-dark .asi-tile {
    border-color: white;
}

@media (prefers-color-scheme: light) {
    .asi-theme-default .asi-tile {
        border-color: #222;
    }
}

.asi-theme-light .asi-tile {
    border-color: #222;
}

.asi-layer {
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(15vmin) rotateY(-45deg) translateX(-15vmin);
    width: 30vmin;
    margin: auto;
}

.asi-layer-face {
    line-height: 0;
}

.asi-layer-face-top {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-15vmin) rotateX(90deg) translateY(-15vmin);
}

.asi-layer-face-left {
    transform: translateZ(0);
}

.asi-layer-face-right {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateZ(-15vmin) rotateY(90deg) translateZ(15vmin);
}

.asi-styles-extractor {
    position: absolute;
    top: 3vmin;
    left: 3vmin;
}

.asi-teaser {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    width: 70%;
    perspective: 100vmin;
    z-index: 100;
}

.asi-teaser-title-content,
.asi-teaser-stacks {
    transition: color .3s;
}

.asi-teaser-title-content {
    text-decoration: none;
}

.asi-teaser-title-content:hover {
    text-decoration: underline;
}

.asi-teaser-keywords {
    display: flex;
}

.asi-teaser-keyword {
    flex: 1 1;
    position: relative;
    padding: 0 .7em;
}

.asi-teaser-keyword::after {
    content: '+';
}

@media (prefers-color-scheme: dark) and (prefers-color-scheme: no-preference) {
    .asi-theme-default .asi-teaser-title-content {
        color: #ffa538;
    }

    .asi-theme-default .asi-teaser-stacks {
        color: white;
    }
}

.asi-theme-dark .asi-teaser-title-content {
    color: #ffa538;
}

.asi-theme-dark .asi-teaser-stacks {
    color: white;
}

@media (prefers-color-scheme: light) {
    .asi-theme-default .asi-teaser-title-content {
        color: #f7941b;
    }

    .asi-theme-default .asi-teaser-stacks {
        color: #1a3c6c;
    }
}

.asi-theme-light .asi-teaser-title-content {
    color: #f7941b;
}

.asi-theme-light .asi-teaser-stacks {
    color: #1a3c6c;
}

@media (prefers-color-scheme: light) {
    .asi-theme-default .asi-teaser-keyword-orange {
        text-shadow: 0 0 0.094em #ffc251, 0 0 0.47em #ffd993, 0 0 3.29em rgba(183, 231, 255, 0.15);
        color: rgba(255, 255, 255, 0.93);
    }

    .asi-theme-default .asi-teaser-keyword-orange::after {
        background: #ffbf47;
    }

    .asi-theme-default .asi-teaser-keyword-red {
        text-shadow: 0 0 0.094em #ff514f, 0 0 0.47em #ff9391, 0 0 3.29em rgba(183, 231, 255, 0.15);
        color: rgba(255, 255, 255, 0.93);
    }

    .asi-theme-default .asi-teaser-keyword-red::after {
        background: #ff4745;
    }

    .asi-theme-default .asi-teaser-keyword-blue {
        text-shadow: 0 0 0.094em #4788ea, 0 0 0.47em #82aef1, 0 0 3.29em rgba(183, 231, 255, 0.15);
        color: rgba(255, 255, 255, 0.93);
    }

    .asi-theme-default .asi-teaser-keyword-blue::after {
        background: #3e82e9;
    }

    .asi-theme-default .asi-teaser-keyword-green {
        text-shadow: 0 0 0.094em #b3df4d, 0 0 0.47em #cbe986, 0 0 3.29em rgba(183, 231, 255, 0.15);
        color: rgba(255, 255, 255, 0.93);
    }

    .asi-theme-default .asi-teaser-keyword-green::after {
        background: #afde45;
    }

    .asi-theme-default .asi-teaser-keyword-flash.asi-teaser-keyword-orange {
        text-shadow: 0 0 2.7em white, 0 0 2.5em rgba(255, 255, 255, 0.753), 0 0 0.3em #ffebc6, 0 0 7em rgba(132, 214, 255, 0.1);
        color: white;
    }

    .asi-theme-default .asi-teaser-keyword-flash.asi-teaser-keyword-red {
        text-shadow: 0 0 2.7em white, 0 0 2.5em rgba(255, 255, 255, 0.753), 0 0 0.3em #ffc5c4, 0 0 7em rgba(132, 214, 255, 0.1);
        color: white;
    }

    .asi-theme-default .asi-teaser-keyword-flash.asi-teaser-keyword-blue {
        text-shadow: 0 0 2.7em #f5f8fe, 0 0 2.5em rgba(255, 255, 255, 0.753), 0 0 0.3em #b0ccf6, 0 0 7em rgba(132, 214, 255, 0.1);
        color: white;
    }

    .asi-theme-default .asi-teaser-keyword-flash.asi-teaser-keyword-green {
        text-shadow: 0 0 2.7em #f9fdf2, 0 0 2.5em rgba(255, 255, 255, 0.753), 0 0 0.3em #def1b1, 0 0 7em rgba(132, 214, 255, 0.1);
        color: white;
    }
}

.asi-theme-light .asi-teaser-keyword-orange {
    text-shadow: 0 0 0.094em #ffc251, 0 0 0.47em #ffd993, 0 0 3.29em rgba(183, 231, 255, 0.15);
    color: rgba(255, 255, 255, 0.93);
}

.asi-theme-light .asi-teaser-keyword-orange::after {
    background: #ffbf47;
}

.asi-theme-light .asi-teaser-keyword-red {
    text-shadow: 0 0 0.094em #ff514f, 0 0 0.47em #ff9391, 0 0 3.29em rgba(183, 231, 255, 0.15);
    color: rgba(255, 255, 255, 0.93);
}

.asi-theme-light .asi-teaser-keyword-red::after {
    background: #ff4745;
}

.asi-theme-light .asi-teaser-keyword-blue {
    text-shadow: 0 0 0.094em #4788ea, 0 0 0.47em #82aef1, 0 0 3.29em rgba(183, 231, 255, 0.15);
    color: rgba(255, 255, 255, 0.93);
}

.asi-theme-light .asi-teaser-keyword-blue::after {
    background: #3e82e9;
}

.asi-theme-light .asi-teaser-keyword-green {
    text-shadow: 0 0 0.094em #b3df4d, 0 0 0.47em #cbe986, 0 0 3.29em rgba(183, 231, 255, 0.15);
    color: rgba(255, 255, 255, 0.93);
}

.asi-theme-light .asi-teaser-keyword-green::after {
    background: #afde45;
}

.asi-theme-light .asi-teaser-keyword-flash.asi-teaser-keyword-orange {
    text-shadow: 0 0 2.7em white, 0 0 2.5em rgba(255, 255, 255, 0.753), 0 0 0.3em #ffebc6, 0 0 7em rgba(132, 214, 255, 0.1);
    color: white;
}

.asi-theme-light .asi-teaser-keyword-flash.asi-teaser-keyword-red {
    text-shadow: 0 0 2.7em white, 0 0 2.5em rgba(255, 255, 255, 0.753), 0 0 0.3em #ffc5c4, 0 0 7em rgba(132, 214, 255, 0.1);
    color: white;
}

.asi-theme-light .asi-teaser-keyword-flash.asi-teaser-keyword-blue {
    text-shadow: 0 0 2.7em #f5f8fe, 0 0 2.5em rgba(255, 255, 255, 0.753), 0 0 0.3em #b0ccf6, 0 0 7em rgba(132, 214, 255, 0.1);
    color: white;
}

.asi-theme-light .asi-teaser-keyword-flash.asi-teaser-keyword-green {
    text-shadow: 0 0 2.7em #f9fdf2, 0 0 2.5em rgba(255, 255, 255, 0.753), 0 0 0.3em #def1b1, 0 0 7em rgba(132, 214, 255, 0.1);
    color: white;
}

@media (prefers-color-scheme: dark) and (prefers-color-scheme: no-preference) {
    .asi-theme-default .asi-teaser-keyword-orange {
        text-shadow: 0 0 0.11em #ffb62d, 0 0 0.55em #ffd993, 0 0 3.85em rgba(183, 231, 255, 0.15);
        color: rgba(255, 255, 255, 0.93);
    }

    .asi-theme-default .asi-teaser-keyword-orange::after {
        background: #ffbf47;
    }

    .asi-theme-default .asi-teaser-keyword-red {
        text-shadow: 0 0 0.11em #ff2e2b, 0 0 0.55em #ff9391, 0 0 3.85em rgba(183, 231, 255, 0.15);
        color: rgba(255, 255, 255, 0.93);
    }

    .asi-theme-default .asi-teaser-keyword-red::after {
        background: #ff4745;
    }

    .asi-theme-default .asi-teaser-keyword-blue {
        text-shadow: 0 0 0.11em #2773e6, 0 0 0.55em #82aef1, 0 0 3.85em rgba(183, 231, 255, 0.15);
        color: rgba(255, 255, 255, 0.93);
    }

    .asi-theme-default .asi-teaser-keyword-blue::after {
        background: #3e82e9;
    }

    .asi-theme-default .asi-teaser-keyword-green {
        text-shadow: 0 0 0.11em #a6da2f, 0 0 0.55em #cbe986, 0 0 3.85em rgba(183, 231, 255, 0.15);
        color: rgba(255, 255, 255, 0.93);
    }

    .asi-theme-default .asi-teaser-keyword-green::after {
        background: #afde45;
    }

    .asi-theme-default .asi-teaser-keyword-flash.asi-teaser-keyword-orange {
        text-shadow: 0 0 2.7em #ffebc6, 0 0 2.5em rgba(255, 255, 255, 0.753), 0 0 0.3em #ffd993, 0 0 7em rgba(132, 214, 255, 0.1);
        color: white;
    }

    .asi-theme-default .asi-teaser-keyword-flash.asi-teaser-keyword-red {
        text-shadow: 0 0 2.7em #ffc5c4, 0 0 2.5em rgba(255, 255, 255, 0.753), 0 0 0.3em #ff9391, 0 0 7em rgba(132, 214, 255, 0.1);
        color: white;
    }

    .asi-theme-default .asi-teaser-keyword-flash.asi-teaser-keyword-blue {
        text-shadow: 0 0 2.7em #b0ccf6, 0 0 2.5em rgba(255, 255, 255, 0.753), 0 0 0.3em #82aef1, 0 0 7em rgba(132, 214, 255, 0.1);
        color: white;
    }

    .asi-theme-default .asi-teaser-keyword-flash.asi-teaser-keyword-green {
        text-shadow: 0 0 2.7em #def1b1, 0 0 2.5em rgba(255, 255, 255, 0.753), 0 0 0.3em #cbe986, 0 0 7em rgba(132, 214, 255, 0.1);
        color: white;
    }

    .asi-theme-default .asi-teaser-keyword,
    .asi-theme-default .asi-teaser-keyword-flash {
        color: white;
    }
}

.asi-theme-dark .asi-teaser-keyword-orange {
    text-shadow: 0 0 0.11em #ffb62d, 0 0 0.55em #ffd993, 0 0 3.85em rgba(183, 231, 255, 0.15);
    color: rgba(255, 255, 255, 0.93);
}

.asi-theme-dark .asi-teaser-keyword-orange::after {
    background: #ffbf47;
}

.asi-theme-dark .asi-teaser-keyword-red {
    text-shadow: 0 0 0.11em #ff2e2b, 0 0 0.55em #ff9391, 0 0 3.85em rgba(183, 231, 255, 0.15);
    color: rgba(255, 255, 255, 0.93);
}

.asi-theme-dark .asi-teaser-keyword-red::after {
    background: #ff4745;
}

.asi-theme-dark .asi-teaser-keyword-blue {
    text-shadow: 0 0 0.11em #2773e6, 0 0 0.55em #82aef1, 0 0 3.85em rgba(183, 231, 255, 0.15);
    color: rgba(255, 255, 255, 0.93);
}

.asi-theme-dark .asi-teaser-keyword-blue::after {
    background: #3e82e9;
}

.asi-theme-dark .asi-teaser-keyword-green {
    text-shadow: 0 0 0.11em #a6da2f, 0 0 0.55em #cbe986, 0 0 3.85em rgba(183, 231, 255, 0.15);
    color: rgba(255, 255, 255, 0.93);
}

.asi-theme-dark .asi-teaser-keyword-green::after {
    background: #afde45;
}

.asi-theme-dark .asi-teaser-keyword-flash.asi-teaser-keyword-orange {
    text-shadow: 0 0 2.7em #ffebc6, 0 0 2.5em rgba(255, 255, 255, 0.753), 0 0 0.3em #ffd993, 0 0 7em rgba(132, 214, 255, 0.1);
    color: white;
}

.asi-theme-dark .asi-teaser-keyword-flash.asi-teaser-keyword-red {
    text-shadow: 0 0 2.7em #ffc5c4, 0 0 2.5em rgba(255, 255, 255, 0.753), 0 0 0.3em #ff9391, 0 0 7em rgba(132, 214, 255, 0.1);
    color: white;
}

.asi-theme-dark .asi-teaser-keyword-flash.asi-teaser-keyword-blue {
    text-shadow: 0 0 2.7em #b0ccf6, 0 0 2.5em rgba(255, 255, 255, 0.753), 0 0 0.3em #82aef1, 0 0 7em rgba(132, 214, 255, 0.1);
    color: white;
}

.asi-theme-dark .asi-teaser-keyword-flash.asi-teaser-keyword-green {
    text-shadow: 0 0 2.7em #def1b1, 0 0 2.5em rgba(255, 255, 255, 0.753), 0 0 0.3em #cbe986, 0 0 7em rgba(132, 214, 255, 0.1);
    color: white;
}

.asi-theme-dark .asi-teaser-keyword,
.asi-theme-dark .asi-teaser-keyword-flash {
    color: white;
}

@keyframes loading-spinner {
    0% {
        width: 10%;
        left: 0;
    }

    50% {
        width: 50%;
        left: 25%;
    }

    100% {
        width: 0;
        left: 90%;
    }
}

@keyframes loading-color {
    0% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.55;
    }

    100% {
        opacity: 0.4;
    }
}

.asi-teaser-keyword {
    transition: text-shadow .35s, transform .7s, color .35s;
}

.asi-teaser-keyword-flash {
    transition: text-shadow .1s, transform .1s, color .1s;
    transform: scale(1.1);
}

.asi-teaser-keyword:after {
    text-shadow: none;
    opacity: 0;
    transition: opacity .7s;
    content: '';
    top: 100%;
    height: .03em;
    position: absolute;
    transform: none;
}

.asi-teaser-keyword-loading {
    animation: loading-color 1.35s .5s infinite;
    transition: opacity .2s;
}

.asi-teaser-keyword-loading::after {
    animation: loading-spinner 1s linear infinite;
    transition: opacity 2s .3s;
    opacity: 1;
}

.asi-theme-switch {
    position: absolute;
    right: 3vmin;
    top: 3vmin;
    width: 7vmin;
    height: 3.5vmin;
    border-style: solid;
    border-width: .13vmin;
    border-radius: 1.75vmin;
    transition: border-color 0.2s;
}

.asi-theme-switch-button {
    position: absolute;
    width: 35%;
    height: 70%;
    border-radius: 3.5vmin;
    pointer-events: none;
    top: 15%;
    transition: background-color 0.2s, left 0.2s;
}

.asi-theme-toggle {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s;
}

.asi-theme-toggle-dark .asi-theme-toggle-icon {
    left: 25%;
}

.asi-theme-toggle-light .asi-theme-toggle-icon {
    left: 75%;
}

.asi-theme-toggle-icon {
    transition: transform 0.6s;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.75vmin;
}

@media (prefers-color-scheme: dark) and (prefers-color-scheme: no-preference) {
    .asi-theme-default .asi-theme-switch {
        border-color: #eaf8ff;
    }

    .asi-theme-default .asi-theme-switch-button {
        left: 55%;
        background: #eaf8ff;
    }

    .asi-theme-default .asi-theme-toggle-light {
        opacity: 0;
        pointer-events: none;
    }

    .asi-theme-default .asi-theme-toggle-light .asi-theme-toggle-icon {
        transform: translate(-50%, -50%) rotateZ(55deg);
    }
}

.asi-theme-dark .asi-theme-switch {
    border-color: #eaf8ff;
}

.asi-theme-dark .asi-theme-switch-button {
    left: 55%;
    background: #eaf8ff;
}

.asi-theme-dark .asi-theme-toggle-light {
    opacity: 0;
    pointer-events: none;
}

.asi-theme-dark .asi-theme-toggle-light .asi-theme-toggle-icon {
    transform: translate(-50%, -50%) rotateZ(55deg);
}

@media (prefers-color-scheme: light) {
    .asi-theme-default .asi-theme-switch {
        border-color: #282c34;
    }

    .asi-theme-default .asi-theme-switch-button {
        left: 7.5%;
        background: #282c34;
    }

    .asi-theme-default .asi-theme-toggle-dark {
        opacity: 0;
        pointer-events: none;
    }

    .asi-theme-default .asi-theme-toggle-dark .asi-theme-toggle-icon {
        transform: translate(-50%, -50%) rotateZ(-90deg);
    }
}

.asi-theme-light .asi-theme-switch {
    border-color: #282c34;
}

.asi-theme-light .asi-theme-switch-button {
    left: 7.5%;
    background: #282c34;
}

.asi-theme-light .asi-theme-toggle-dark {
    opacity: 0;
    pointer-events: none;
}

.asi-theme-light .asi-theme-toggle-dark .asi-theme-toggle-icon {
    transform: translate(-50%, -50%) rotateZ(-90deg);
}
